<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Supported_Languages" value="Portugues:pt;English:en;Français:fr"/>
      <add key="Microsoft_Key" value="F4E6E0444F32B660BED9908E9744594B53D2E864"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
                <binding name="BasicHttpBinding_IReceiver" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IRegister">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
          
            <endpoint address="http://localhost:8676/RegisterService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRegister" contract="RegisterService.IRegister"
                name="WSDualHttpBinding_IRegister" />
            <endpoint address="http://localhost:8765/ServiceChat" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReceiver" contract="ChatService.IReceiver"
                name="BasicHttpBinding_IReceiver" />
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="User.Main">
          <endpoint address="" binding="basicHttpBinding" contract="Interfaces.IReceiver">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="/1" binding="basicHttpBinding" contract="Interfaces.IReceiver"/>
          <endpoint address="/2" binding="basicHttpBinding" contract="Interfaces.IReceiver"/>
          <endpoint address="/3" binding="basicHttpBinding" contract="Interfaces.IReceiver"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8765/ServiceChat" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>